<!DOCTYP html>
<html>
  <head>
    <title>ALMS</title>
    <meta charset="utf-8">
  </head>
  <body>
      <h1>ALNS - Autolesão Não Suicida</h1>
A.	No último ano houve dano intencional auto infligido à superfície do seu corpo provavelmente induzindo sangramento, contusão ou dor (p. ex., cortar, queimar, fincar, bater, esfregar excessivamente (não há intenção suicida) - cinco ou mais dias. 
B.	B. Uma ou mais das seguintes expectativas:
1. Obter alívio de um estado de sentimento ou de cognição negativos.
2. Resolver uma dificuldade interpessoal.
3. Induzir um estado de sentimento positivo.
C.	Está associada a pelo menos um dos seguintes:
1. Dificuldades interpessoais ou sentimentos ou pensamentos negativos, tais como depressão, ansiedade, tensão, raiva, angústia generalizada ou autocrítica, ocorrendo no período imediatamente anterior ao ato de autolesão.
2. Antes do engajamento no ato, um período de preocupação com o comportamento pretendido que é difícil de controlar.
3. Pensar na autolesão que ocorre frequentemente, mesmo quando não é praticada.
D.	O comportamento não é socialmente aprovado (p. ex., piercing corporal, tatuagem, parte de um ritual religioso ou cultural) e não está restrito a arrancar casca de feridas ou roer as unhas.
E.	E. O comportamento ou suas consequências causam sofrimento clinicamente significativo ou interferência no funcionamento interpessoal, acadêmico ou em outras áreas importantes do funcionamento.
F.	F. O comportamento não ocorre exclusivamente durante episódios psicóticos, delirium, intoxicação por substâncias ou abstinência de substâncias. Em indivíduos com transtorno do neurodesenvolvimento, o comportamento não faz parte de um padrão de estereotipias repetitivas
O comportamento não é mais bem explicado por outro transtorno mental ou condição médica.
   </body>
</html>