<!DOCTYP html>
<html>
  <head>
    <title>Catatonia</title>
    <meta charset="utf-8">
  </head>
  <body>
      <h1>Catatonia</h1>
Não é uma classe independente pelo DSM5 - é pela CID11. 
“Sempre” como comorbidade com T. do Neurodesenvolvimento, T. Psicótico breve, T. Esquizofreniforme / Esquizofrenia, T. Esquizoafetivo
T. Bipolar, T. Depressivo Maior .
O diagnóstico costuma durante a internação.
O ponto central é a perturbação psicomotora acentuada que pode envolver atividade motora diminuída, peculiar ou agitação acentuada excessiva e peculiar. 
Pelo DSM5
* A. O quadro clínico é dominado por três (ou mais) dos sintomas:
1. Estupor (ausência de atividade psicomotora.
2. Catalepsia.
3. Flexibilidade cérea.
4. Mutismo.
5. Negativismo.
6. Postura.
7. Maneirismo (caricatura esquisita e circunstancial de ações normais).
8. Estereotipia
9. Agitação, não influenciada por estímulos externos.
10. Caretas.
11. Ecolalia.
12. Ecopraxia.
A perturbação não ocorre exclusivamente durante o delirium.
  </body>
</html>