DI - Deficiência Intelectual

Atenção especial a síndrome de Lesch-Nyhan onde há movimentos distônicos estereotipados e automutilação dos dedos, mordida dos lábios e outras formas de autolesão. Na S. Cornelia de Lange e Rett, a autolesão pode ser consequência de estereotipias mão-boca. 

A. Déficits em funções intelectuais como raciocínio, solução de problemas, planejamento, pensamento abstrato, juízo, aprendizagem acadêmica e aprendizagem pela experiência confirmados tanto pela avaliação clínica quanto por testes de inteligência padronizados e individualizados.

B. Déficits em funções adaptativas que resultam em fracasso para atingir padrões de desenvolvimento e socioculturais em relação a independência pessoal e responsabilidade social. Sem apoio continuado, os déficits de adaptação limitam o funcionamento em uma ou mais atividades diárias, como comunicação, participação social e vida independente, e em múltiplos ambientes, como em casa, na escola, no local de trabalho e na comunidade.

C. Início dos déficits intelectuais e adaptativos durante o período do desenvolvimento.

Especificar a gravidade atual: Leve, Moderada, Grave ou Profunda"""