<!DOCTYP html>
<html>
  <head>
    <title>Esquizofrenia</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Esquizofrenia</h1>
            
      
      Esquizofrenia / Outras Psicoses
O DSM5 inova com o termo Espectro da Esquizofrenia e Outros T.  Psicóticos.  
O ponto central é a presença de delírios, alucinação e prejuízos na vivência da realidade “comum-a-todos”. Há também pensamento desorganizado (manifesto via discurso desorganizado), comportamento grosseiramente desorganizado e experiências de passividade e controle, sintomas negativos como afeto embotado / avolição e distúrbios psicomotores.
A agressividade é secundária à delírios e alucinações específicas.
A.	Dois (ou mais) dos itens a seguir, numa quantidade significativa de tempo durante um período de um mês. Pelo menos um deles deve ser (1), (2) ou (3):
1. Delírios.
2. Alucinações.
3. Discurso desorganizado.
4. Comportamento grosseiramente desorganizado ou catatônico.
5. Sintomas negativos.
B.	B. Por período significativo de tempo o nível de funcionamento global está acentuadamente abaixo do nível alcançado antes do início.
C.	C. Sinais contínuos de perturbação persistem durante, pelo menos, seis meses. Esse período deve incluir no mínimo um mês de sintomas (que precisam satisfazer ao Critério A (fase ativa) e pode incluir períodos de sintomas prodrômicos ou residuais. 
Durante esses períodos prodrômicos ou residuais, os sinais da perturbação podem ser manifestados apenas por sintomas negativos ou por dois ou mais sintomas listados no Critério A presentes em uma forma atenuada (crenças esquisitas, experiências perceptivas incomuns).
D.	T. esquizoafetivo e T. Depressivo ou TB com características psicóticas são descartados.
E.	E. A perturbação pode ser atribuída aos efeitos fisiológicos de uma substância.
F.	F. Se há história de TEA ou de T. Comunicação iniciado na infância, o diagnóstico adicional de esquizofrenia é realizado somente se delírios ou alucinações proeminentes, além dos demais sintomas exigidos de esquizofrenia, estão também presentes por pelo menos um mês (ou menos, se tratados com sucesso).
Esquizofrenia com início padrão ocorre no início da idade adulta
1) A Esquizofrenia com início precoce: entre 9 anos e a adolescência 
2) A Esquizofrenia com início muito precoce: antes dos 9 anos. O diagnóstico é bastante raro, em parte pelos critérios diagnóstico de exigir a presença de delírio e alucinação 
O prognóstico é pior quando ocorre antes da idade adulta e usualmente cursam com T. Neuro Desenvolvimento, notadamente DI. 
A classificação da Esquizofrenia / T. Psicótico com início muito precoce pela CID11 deve ser: Outra esquizofrenia especificada ou outros transtornos psicóticos primários (6A2Y) / Esquizofrenia ou outros transtornos psicóticos primários, não especificados (6A2Z)
As características essenciais da Esquizofrenia tendem a ser as mesmas na infância, ainda que seja mais difícil fazer o diagnóstico. 
Nas crianças, delírios e alucinações podem ser menos elaborados, e alucinações visuais são mais comuns. Importante lembrar que nesta fase da vida, Discurso e Comportamento desorganizado ocorrem em outros transtornos.
Casos com início na infância tem início gradual e sintomas negativos proeminentes. 
Crianças que mais tarde recebem o diagnóstico de Esquizofrenia são mais propensas a sofrerem perturbações e psicopatologia emocionais e/ou comportamentais não especificadas, alterações intelectuais e na linguagem e atrasos motores sutis.
  </body>
</html>