<!DOCTYP html>
<html>
  <head>
    <title>Agressividade</title>
    <meta charset="utf-8">
  </head>
  <body>
 
    
    <h1>Oi Agressividade em elaboração</h1>
    
    <h2>OBJETO</h2>
    
    <h3><div aria-label="Basic radio toggle button group1">
      <input type="radio" name="objeto" id="nao"  checked>
      <label for="btnradio1">NÃO SELECIONADO</label>

      <input type="radio" name="objeto" id="Hetero" >
      <label for="btnradio2">Hetero Agressividade</label>

      <input type="radio" name="objeto" id="Auto" >
      <label for="btnradio3">Auto Agressividade</label>
    </div></h3>
    
    <h2>INICIO</h2>
    
    <h3><div  aria-label="Basic radio toggle button group">
      <input type="radio" name="inicio" id="nao"  checked>
      <label for="btnradio1">NÃO SELECIONADO</label>

      <input type="radio" name="inicio" id="3 anos" >
      <label for="btnradio2">Até 3 anos</label>

      <input type="radio" name="inicio" id="10 anos" >
      <label for="btnradio3">Até 10 anos</label>
      
      <input type="radio" name="inicio" id="Adolecencia" >
      <label for="btnradio3">Adolescência</label>
      
      <input type="radio" name="inicio" id="Adulta" >
      <label for="btnradio3">Idade Adulta</label>
    </div></h3>

    <h2>DURAÇÃO</h2>

    <h3><div  aria-label="Basic radio toggle button group">
      <input type="radio" name="duracao" id="Nao"  checked>
      <label for="btnradio1">NÃO SELECIONADO</label>

      <input type="radio" name="duracao" id="Menor" >
      <label for="btnradio2">Menor que 30 minutos</label>

      <input type="radio" name="duracao" id="Maior" >
      <label for="btnradio3">Maior que 30 minutos</label>

    </div></h3>


    <h2>FREQUÊNCIA</h2>

    <h3><div  aria-label="Basic radio toggle button group">
      <input type="radio" name="frequencia" id="nao"  checked>
      <label for="btnradio1">NÃO SELECIONADO</label>

      <input type="radio" name="frequencia" id="semana" >
      <label for="btnradio2">Maioria das semanas</label>

      <input type="radio" name="frequencia" id="dias" >
      <label for="btnradio3">Maioria das dias</label>

      <input type="radio" name="frequencia" id="Episodica" >
      <label for="btnradio3">Episódica</label>

      <input type="radio" name="frequencia" id="Mensal" >
      <label for="btnradio3">Mensal</label>

      <input type="radio" name="frequencia" id="Fasica" >
      <label for="btnradio3">Fásica</label>
    </div></h3>

    <h2>GRAVIDADE</h2>

    <h3><div aria-label="Basic radio toggle button group1">
      <input type="radio" name="gravidade" id="nao"  checked>
      <label for="btnradio1">NÃO SELECIONADO</label>

      <input type="radio" name="gravidade" id="3" >
      <label for="btnradio2">Até 3/5</label>

      <input type="radio" name="gravidade" id="5" >
      <label for="btnradio3">Até 5/5</label>
    </div></h3>
    
    <h2>GATILHO</h2>

    <h3><div aria-label="Basic radio toggle button group1">
      <input type="radio" name="gatilho" id="nao"  checked>
      <label for="btnradio1">NÃO SELECIONADO</label>

      <input type="radio" name="gatilho" id="Externo" >
      <label for="btnradio2">Externo</label>

      <input type="radio" name="gatilho" id="Misto" >
      <label for="btnradio3">Misto</label>
    </div></h3>

    <h2>EXECUÇÃO</h2>

    <h3><div aria-label="Basic radio toggle button group1">
      <input type="radio" name="execucao" id="nao"  checked>
      <label for="btnradio1">NÃO SELECIONADO</label>

      <input type="radio" name="execucao" id="Impulsiva" >
      <label for="btnradio2">Impulsiva</label>

      <input type="radio" name="execucao" id="Planejada" >
      <label for="btnradio3">Planejada</label>
    </div></h3>

    
    <h2><a href="{{url_for('introducao')}}">introdução</a></h2>
    <h2><a href="{{url_for('di')}}">DI</a></h2>
    <h2><a href="{{url_for('tea')}}">TEA</a></h2>
    <h2><a href="{{url_for('tod')}}">TOD</a></h2>
    <h2><a href="{{url_for('tdah')}}">TDAH</a></h2>
    <h2><a href="{{url_for('alns')}}">ALNS</a></h2>
    <h2><a href="{{url_for('te')}}">TE</a></h2>
    <h2><a href="{{url_for('tme')}}">TME</a></h2>
    <h2><a href="{{url_for('tddh')}}">TDDH</a></h2>
    <h2><a href="{{url_for('tei')}}">TEI</a></h2>
    <h2><a href="{{url_for('tept')}}">TEPT</a></h2>
    <h2><a href="{{url_for('tdi')}}">TDI</a></h2>
    <h2><a href="{{url_for('tdpm')}}">TDPM</a></h2>
    <h2><a href="{{url_for('tpb')}}">TPB</a></h2>
    <h2><a href="{{url_for('tpa')}}">TPA</a></h2>
    <h2><a href="{{url_for('tc')}}">TC</a></h2>
    <h2><a href="{{url_for('tdm')}}">TDM</a></h2>
    <h2><a href="{{url_for('tbmania')}}">TB Mania</a></h2>
    <h2><a href="{{url_for('tbmisto')}}">TB Misto</a></h2>
    <h2><a href="{{url_for('esquizofrenia')}}">Esquizofrenia</a></h2>
    <h2><a href="{{url_for('catatonia')}}">Catatonia</a></h2>
    <h2><a href="{{url_for('tratamento')}}">Tratamento</a></h2>
  </body>
</html>