<!DOCTYP html>
<html>
  <head>
    <title>Introdução</title>
    <meta charset="utf-8">
  </head>
  <body>
  <h1>Introdução ao Tema</h1>
  <p>Esse aplicativo foi desenvolvido em Março de 2025 para o público infanto-juvenil e clínica ambulatorial. Por isso não foram considerados questões relacionadas a T. Uso Substância, assim como Demências e transtornos afins.</p>
    <p>O objetivo é</p>
    <p>- Auxiliar o médico no diagnóstico de Agressividade e o tratamento em crianças e adolescentes.</p>
    <p>- Não tem o objetivo de substituir o médico em seu trabalho.</p>
    <p>- Todas informações clínicas foram obtidas do DSM5 e da CID11.</p>
    <p>- No DSM5 tem 57 citações com o termo “agressividade” e “agressão” e 18 com “mutilação. Nenhuma citação com “auto / hetero agressividade”</p>
    <p>- Na CID11 tem 11 com o termo “aggressive”, 10 citações com “aggression”, 3 com “explosive” / “self-inflicted” / “self-injury” e 1 com “mutilation”.</p>

    <p>A/s característica/s da Agressividade estão classificadas nos quadros base, mas muitas vezes é a comorbidade que dá a clínica da         Agressividade, p. ex:</p>
    <p>- TEA + Agressividade prolongada é “sempre” mais comum na presença de DI. </p>
    <p>- Idem TEA + T Escoriação </p>
    <p>- Catatonia não é diagnóstico base. É sempre “secundário” a uma Psicose ou T. Neurodesenvolvimento</p>

    <p>Por isso, a importância da identificação em separado do quadro base e da/s comorbidade/s.</p>

    <p>A Auto agressividade ocorre em menor número de Transtornos Psiquiátricos em relação à Hetero Agressividade. A auto agressividade frequentemente inicia antes dos 5 anos, sendo  mais difícil de ser tratada pois pode ter origem em transtornos sensoriais e na compulsão por agredir.</p>

      <p>A presença de Deficiência Intelectual gera agravamento dos episódios.</p>

    <p>Na idade adulta a impulsividade é o ponto central. </p>

    <p>Sempre importante identificar o quadro base e comorbidades. </p>

    <p>A Hetero Agressividade deve ser analisada por </p>
    <p>- Idade de início</p>
    <p>- Duração do evento</p>
    <p>- Frequência de eventos</p>
    <p>- Intensidade</p>
    <p>- “Gatilho”</p>
    <p>- Formas de Execução </p>

  <h3>Responsável: Walter Camargos Jr.</h3>
    
  <h3>Programador: Angelo Zandona Freitas</h3>
    </body>
  </html>