<!DOCTYP html>
<html>
  <head>
    <title>TB Misto</title>
        <meta charset="utf-8">
  </head>
  <body>
      <h1>TB Misto - T. Bipolar - Episódio Misto</h1>
Descrito no capítulo T. Bipolar e T. Relacionado Não Especificado no item Episódio Maníaco ou Hipomaníaco / Depressivo com características mistas no DSM5 e no capítulo de T. Bipolar tipo 1 na CID11. Veja a diferença.
 O ponto central é a clínica com parte da sintomatologia de episódio de Mania junto com Depressão.
Ocorrem em episódios / fases -  recorrência é esperada. 
Identificação / Tratamento são mais difíceis.
A. São atendidos todos os critérios para um episódio maníaco ou hipomaníaco, e pelo menos três dos sintomas a seguir estão presentes durante a maioria dos dias : 
1. Disforia ou humor depressivo acentuado ou observação feita por outra pessoa. 
2. Interesse ou prazer diminuído em todas, ou quase todas, as atividades. 
3. Retardo psicomotor quase diário.
 4. Fadiga ou perda de energia.
5. Sentimentos de inutilidade ou de culpa excessiva ou inapropriada. 
6. Pensamentos recorrentes de morte (não somente medo de morrer), ideação suicida recorrente sem plano específico, tentativa de suicídio ou plano específico para cometer suicídio. 
B. Sintomas são observáveis por outras pessoas e representam uma mudança em relação ao comportamento habitual do indivíduo. 
C. Para indivíduos cujos sintomas satisfazem todos os critérios de Mania e Depressão simultaneamente, o diagnóstico deve ser de episódio maníaco, com características mistas. 
D. Os sintomas não são atribuíveis aos efeitos fisiológicos de uma substância.
  </body>
</html>