<!DOCTYP html>
<html>
  <head>
    <title>TC</title>
        <meta charset="utf-8">
  </head>
  <body>
      <h1>TC - T. Conduta</h1>
O TC está no DSM5 no capítulo dos Transtornos Disruptivos, do Controle de Impulsos e da Conduta e na CID11 no T. do Controle dos Impulsos. Isso significa que é baseado na IMPULSIVIDADE.
A característica central do TC é o padrão comportamental repetitivo e persistente de violação dos direitos básicos de outras pessoas / normas ou regras sociais relevantes e apropriadas para a idade.
Há três subtipos por idade de início: infância / adolescência / não especificado
O primeiro subtipo tende à manutenção de TC na vida adulta / agressividade
Um padrão de comportamento repetitivo e persistente no qual são violados direitos básicos de outras pessoas / normas ou regras sociais relevantes e apropriadas para a idade, pela presença de ao menos três critérios nos últimos 12 meses, de qualquer uma das categorias adiante, OU ao menos um critério presente nos últimos seis meses: 
Agressão a Pessoas e Animais 
1. Frequentemente provoca, ameaça ou intimida outros. 
2. Frequentemente inicia brigas físicas. 
3. Usou alguma arma que pode causar danos físicos graves a outros. 
4. Foi fisicamente cruel com pessoas. 
5. Foi fisicamente cruel com animais. 
6. Roubou durante o confronto com uma vítima. 
7. Forçou alguém a atividade sexual.
Destruição de Propriedade 
8. Envolveu-se deliberadamente na provocação de incêndios com a intenção de causar danos graves. 
9. Destruiu deliberadamente propriedade de outras pessoas. 
Falsidade ou Furto 
10. Invadiu a casa, o edifício ou o carro de outra pessoa. 
11. Frequentemente mente para obter bens materiais ou favores ou para evitar obrigações. 
12. Furtou itens de valores consideráveis sem confrontar a vítima.
Violações Graves de Regras 
13. Frequentemente fica fora de casa à noite, apesar da proibição dos pais, com início antes dos 13 anos de idade. 
14. Fugiu de casa, passando a noite fora, pelo menos duas vezes enquanto morando com os pais ou em lar substituto, ou uma vez sem retornar por um longo período. 
15. Com frequência falta às aulas, com início antes dos 13 anos de idade. 
B. O comportamento causa prejuízos clinicamente significativos no funcionamento social, acadêmico ou profissional. 
C. Se o indivíduo tem 18 anos ou mais, os critérios para T. Personalidade Antissocial não são preenchidos
Violações Graves de Regras 
13. Frequentemente fica fora de casa à noite, apesar da proibição dos pais, com início antes dos 13 anos de idade. 
14. Fugiu de casa, passando a noite fora, pelo menos duas vezes enquanto morando com os pais ou em lar substituto, ou uma vez sem retornar por um longo período. 
15. Com frequência falta às aulas, com início antes dos 13 anos de idade. 
B. O comportamento causa prejuízos clinicamente significativos no funcionamento social, acadêmico ou profissional. 
C. Se o indivíduo tem 18 anos ou mais, os critérios para T. Personalidade Antissocial não são preenchidos
Com emoções pró-sociais limitadas: Pelo menos duas características de forma persistente durante, no mínimo, 12 meses e em múltiplos relacionamentos e ambientes. 
* Ausência de remorso ou culpa
* Insensível - falta de empatia
* Despreocupado com o desempenho

Especifique a gravidade atual: Leve / Moderada / Grave
  </body>
</html>