<!DOCTYP html>
<html>
  <head>
    <title>TDAH</title>
        <meta charset="utf-8">
  </head>
  <body>
      <h1>TDAH - T. Déficit de Atenção / Hiperatividade</h1>
A característica central do TDAH é um padrão persistente de desatenção e/ou hiperatividade-impulsividade. 
A desatenção manifesta-se como divagação em tarefas, falta de persistência, dificuldade de manter o foco e desorganização. 
A hiperatividade refere-se a atividade motora excessiva ou conversar em excesso. 
A impulsividade refere-se a ações precipitadas (sem premeditação) e com elevado potencial para dano pessoal e de terceiros.
Os sintomas devem estar presentes em mais de um ambiente. Para tanto é necessário informações do indivíduo em tais ambientes. 
Sinais do transtorno podem ser mínimos ou ausentes quando o indivíduo está recebendo recompensas, está sob supervisão, está em uma situação
nova, está envolvido em atividades especialmente interessantes, recebe estímulos externos consistentes ou está interagindo em situações individualizadas (consultório).
* A. 1. Desatenção: Seis (ou mais) dos seguintes sintomas persistem por pelo menos seis meses em um grau que é inconsistente com o nível do desenvolvimento e têm impacto negativo direto na vida em geral. Para a idade de 17 anos ou mais, cinco sintomas são necessários.
a. Frequentemente não presta atenção em detalhes ou comete erros por descuido em tarefas escolares, no trabalho ou durante outras atividades.
b. Frequentemente tem dificuldade de manter a atenção em tarefas ou atividades lúdicas.
c. Frequentemente parece não escutar quando alguém lhe dirige a palavra.
d. Frequentemente não segue instruções até o fim e não consegue terminar trabalhos escolares, tarefas ou deveres no local de trabalho.
e. Frequentemente tem dificuldade para organizar tarefas e atividades.
f. Frequentemente evita, não gosta ou reluta em se envolver em tarefas que exijam esforço mental prolongado.
g. Frequentemente perde coisas necessárias para tarefas ou atividades.
h. Com frequência é facilmente distraído por estímulos.
i. Com frequência é esquecido em relação a atividades cotidianas
*A 2. Hiperatividade e impulsividade: Seis (ou mais) dos seguintes sintomas persistem por pelo menos seis meses em um grau que é inconsistente com o nível do desenvolvimento e têm impacto negativo direto na vida em geral. Para a idade de 17 anos ou mais, cinco sintomas são necessários.
a. Frequentemente remexe ou batuca as mãos ou os pés ou se contorce na cadeira.
b. Frequentemente levanta da cadeira em situações em que se espera que permaneça sentado.
c. Frequentemente corre ou sobe nas coisas de forma inapropriada.
d. Com frequência é incapaz de brincar ou se envolver em atividades de lazer calmamente.
e. Age como se estivesse “com o motor ligado”.
f. Frequentemente fala demais.
g. Frequentemente responde antes da pergunta tenha sido concluída.
i. Frequentemente interrompe ou se intromete nos assuntos dos outros.
  </body>
</html>