<!DOCTYP html>
<html>
  <head>
    <title>TDDH</title>
        <meta charset="utf-8">
  </head>
  <body>
      <h1>TDDH - T. Disruptivo da Desregulação do Humor</h1>
É uma categoria nova no DSM5. Não existe na CID11.
A característica central do TDDH é 
Humor persistentemente irritável ou zangado (na maior parte do dia, quase todos os dias) e Explosões de raiva que devem ocorrer em média três ou mais vezes por semana por pelo menos um ano em pelo menos dois ambientes e devem ser inapropriadas para o desenvolvimento. 
A Explosões de raiva recorrentes e graves manifestadas pela linguagem (p. ex., violência verbal) e/ou agressividade desproporcionais em intensidade ou duração à situação ou provocação.
B. As explosões de raiva são inconsistentes com o nível de desenvolvimento.
C. As explosões de raiva ocorrem, em média, três ou mais vezes por semana.
D. O humor entre as explosões de raiva é persistentemente irritável ou zangado na maior parte do dia, quase todos os dias, e é observável por outras pessoas.
E. Os Critérios A-D estão presentes por pelo menos um ano. 
F. Os Critérios A e D estão presentes em pelo menos dois ambientes e são graves em pelo menos um deles.
G. O diagnóstico não deve ser feito pela primeira vez antes dos 6 anos ou após os 18 anos de idade.
H. A idade de início dos Critérios A-E é até os 10 anos.
I. Nunca houve um episódio maníaco ou hipomaníaco.
J. Os comportamentos ocorrem sem episódios de T. Depressivo Maior e não são mais bem explicados por outro T. Mental
K. Os sintomas não são consequência dos efeitos psicológicos de uma substância ou de outra condição médica ou neurológica.
TDDH pode coexistir com os diagnósticos: TDM / TDAH / TC / TUS. 
TDDH não pode coexistir com TOD / TEI / TB. 
Os indivíduos cujos sintomas satisfazem critérios para TDDH e TOD devem somente receber o diagnóstico de TDDH.
  </body>
</html>