<!DOCTYP html>
<html>
  <head>
    <title>TDI</title>
        <meta charset="utf-8">
  </head>
  <body>
      <h1>TDI - Transtorno Dissociativo de Identidade</h1>
Ruptura na identidade envolve descontinuidade acentuada no senso de si mesmo e de domínio das próprias ações, acompanhada por alterações relacionadas no afeto, no comportamento, na consciência, na memória, na percepção, na cognição e/ou no funcionamento sensório-motor.
Lacunas recorrentes na recordação de eventos cotidianos, informações pessoais importantes e/ ou eventos traumáticos que são incompatíveis com o esquecimento comum. 
Os sintomas causam sofrimento clinicamente significativo e prejuízo no funcionamento social, profissional ou em outras áreas importantes da vida do indivíduo. 
A perturbação não é parte normal de uma prática religiosa ou cultural amplamente aceita.
Quando estados de personalidade alternados não são observados diretamente, o transtorno pode ser identificado por dois conjuntos de sintomas: 1) alterações ou descontinuidades repentinas no senso de si mesmo e de domínio das próprias ações e 2) amnésias dissociativas recorrentes.
Os sintomas não são atribuíveis aos efeitos fisiológicos de uma ou a outra condição médica.

Em crianças, os sintomas não são mais bem explicados por amigos imaginários ou outros jogos de fantasia.
  </body>
</html>