<!DOCTYP html>
<html>
  <head>
    <title>TDM</title>
        <meta charset="utf-8">
  </head>
  <body>
      <h1>TDM - T. Depressivo Maior</h1>
O ponto central é o humor deprimido presente na maior parte do dia / quase todos os dias / mínimo de duas semanas em episódios / fases -  recorrência é o padrão.
Em crianças e adolescentes, o humor pode ser irritável em vez de triste. 
A agressividade ocorre durante o humor irritável.
Alteração do sono / alimentação e sintomas somáticos como fadiga frequentemente são a queixa principal. 
Há graus variados. Atenção para risco de suicídio.
A. Cinco (ou mais) dos sintomas presentes por duas semanas onde há: Humor deprimido ou Perda de interesse ou prazer.
1. Humor deprimido na maior parte do dia e quase todos os dias (sente-se triste, vazio, sem esperança) ou por observação feita por outras pessoas (parece choroso).  
2. Acentuada diminuição do interesse ou prazer em todas ou quase todas as atividades na maior parte do dia, quase todos os dias. 
3. Perda ou ganho significativo de peso sem estar fazendo dieta ou redução / aumento do apetite quase todos os dias.
4. Insônia ou hipersonia quase todos os dias. 
5. Agitação ou retardo psicomotor quase todos os dias. 
6. Fadiga ou perda de energia quase todos os dias. 
7. Sentimentos de inutilidade / culpa excessiva e inapropriada (que podem ser delirantes) quase todos os dias (não meramente autorrecriminação ou culpa por estar doente). 
8. Capacidade diminuída para pensar ou se concentrar, ou indecisão, quase todos os dias. 
9. Pensamentos recorrentes de morte (não é medo de morrer), ideação suicida recorrente sem um plano específico, uma tentativa de suicídio ou plano específico para cometer suicídio.
B. Os sintomas causam sofrimento clinicamente significativo ou prejuízo no funcionamento social, profissional ou em outras áreas importantes da vida do indivíduo. 
C. O episódio não é atribuível aos efeitos fisiológicos de uma substância ou a outra condição médica. 
Nota: Os Critérios A-C representam um episódio depressivo maior. 
D. A ocorrência do episódio depressivo maior não é mais bem explicada por outros Transtornos Psiquiátricos. 
E. Nunca houve um episódio maníaco ou um episódio hipomaníaco
  </body>
</html>