<!DOCTYP html>
<html>
  <head>
    <title>TDPM</title>
        <meta charset="utf-8">
  </head>
  <body>
      <h1>TDPM - T. Depressivo Maior</h1>
Está no capítulo dos T. Depressivos no DSM5. 
As características essenciais do TDPM são a expressão de labilidade do humor, irritabilidade, disforia e ansiedade que ocorrem repetidamente durante a fase pré-menstrual do ciclo e remitem por volta do início da menstruação ou logo depois.
A.	Na maioria dos ciclos menstruais, pelo menos cinco sintomas devem estar presentes na semana antes do início da menstruação, começar a melhorar poucos dias depois do início da menstruação e tornar-se mínimos ou ausentes na semana pós-menstrual. 
B.	Um (ou mais) dos seguintes sintomas deve estar presente: 
1. Labilidade afetiva acentuada (mudanças de humor; sentir-se repentinamente triste ou chorosa ou sensibilidade aumentada à rejeição).
2. Irritabilidade ou raiva acentuadas ou aumento nos conflitos interpessoais. 
3. Humor deprimido acentuado, sentimentos de desesperança ou pensamentos autodepreciativos. 
4. Ansiedade acentuada, tensão e/ou sentimentos de estar nervosa ou no limite.
C.	Um (ou mais) dos seguintes sintomas deve estar presente para atingir um total de cinco sintomas quando combinados com os sintomas do Critério B. 
1. Interesse diminuído pelas atividades habituais. 
2. Sentimento subjetivo de dificuldade em se concentrar. 
3. Letargia, fadiga fácil ou falta de energia acentuada. 
4. Alteração acentuada do apetite, comer em demasia ou avidez por alimentos específicos. 
5. Hipersonia ou insônia. 
6. Sentir-se sobrecarregada ou fora de controle. 
7. Sintomas físicos como sensibilidade ou inchaço das mamas, dor articular ou muscular, sensação de “inchaço” ou ganho de peso.
D.	Os sintomas estão associados a sofrimento clinicamente significativo ou a interferência no trabalho, na escola, em atividades sociais habituais ou relações com outras pessoas. 
E.	A perturbação não é meramente uma exacerbação dos sintomas de outro Transtorno mas pode ser concomitante com alguns.
F.	O Critério A deve ser confirmado por avaliações prospectivas diárias durante pelo menos dois ciclos sintomáticos. 
G.	Os sintomas não são consequência dos efeitos fisiológicos de uma substância ou de outra condição médica.

  </body>
</html>