TE - Transtorno de Escoriação (Skin-picking)
A. Beliscar a pele de forma recorrente, resultando em lesões.
B. Tentativas repetidas de reduzir ou parar o comportamento de beliscar a pele.
C. O ato de beliscar a pele causa sofrimento clinicamente significativo ou prejuízo no funcionamento social, profissional ou em outras áreas importantes da vida do indivíduo.
D. O ato não se deve aos efeitos fisiológicos de substâncias ou a outra condição médica (p. ex., escabiose).
E. O ato de beliscar a pele não é mais bem explicado pelos sintomas de outro Transtorno mental.