<!DOCTYP html>
<html>
  <head>
    <title>TEA</title>
    <meta charset="utf-8">
  </head>
  <body>
  <h1>TEA - T. Espectro do Autismo</h1>

    A. Prejuízos persistentes na comunicação social  e na interação social em múltiplos contextos nos três itens abaixo
* Déficits na reciprocidade socioemocional, desde o nível mais leve como abordagem social anormal e dificuldade para estabelecer uma conversa normal, compartilhamento reduzido de interesses / emoções / afeto, até o nível mais grave como a ausência de iniciativa para iniciar ou responder às interações sociais. 
* Déficits nos comportamentos comunicativos não verbais usados para interação social, desde  comunicação verbal e não verbal pouco integrada / uso de gestos / mímica pobre até a ausência total de expressões faciais e comunicação não verbal. 
* Déficits para desenvolver, manter e compreender relacionamentos, desde a dificuldade em ajustar o comportamento para se adequar aos contextos sociais diversos e dificuldade em compartilhar brincadeiras imaginativas / fazer amigos até a ausência de interesse por pares.

B. Padrões restritos e repetitivos de comportamento, interesses ou atividades - ao menos dois itens dos seguintes:
* Estereotipias / repetições motoras no uso de objetos (alinhar / girar objetos), de fala, ecolalia e frases idiossincráticas. 
* Insistência nas mesmas coisas (sofrimento extremo em relação a pequenas mudanças) , adesão inflexível a rotinas (necessidade de fazer o mesmo caminho ou ingerir os mesmos alimentos diariamente), padrões ritualizados de comportamento verbal ou não verbal (padrões rígidos de pensamento)
* Interesses fixos e altamente restritos que são anormais em intensidade ou foco (forte apego /  preocupação com objetos incomuns, “hiper focos”). 
* Hiper ou hiporreatividade a estímulos sensoriais ou interesse incomum por aspectos sensoriais do ambiente (indiferença aparente a dor/temperatura, reação a sons ou texturas específicas, cheirar ou tocar objetos de forma excessiva, fascinação visual por luzes ou movimento).
* Esses sintomas estão presentes desde o início da infância, mas podem não se tornar plenamente manifestos até que as demandas sociais excedam as capacidades limitadas ou podem ser mascarados por estratégias aprendidas mais tarde na vida;
* Há prejuízo clinicamente significativo no funcionamento social, profissional ou em outras áreas importantes da vida do indivíduo no presente. 
* Essas perturbações não são mais bem explicadas por Deficiência Intelectual ou por atraso global do desenvolvimento.
* Esses sintomas estão presentes desde o início da infância, mas podem não se tornar plenamente manifestos até que as demandas sociais excedam as capacidades limitadas ou podem ser mascarados por estratégias aprendidas mais tarde na vida;
* Há prejuízo clinicamente significativo no funcionamento social, profissional ou em outras áreas importantes da vida do indivíduo no presente. 
* Essas perturbações não são mais bem explicadas por Deficiência Intelectual ou por atraso global do desenvolvimento.
    </body>
</html>