<!DOCTYP html>
<html>
  <head>
    <title>TEI</title>
    <meta charset="utf-8">
  </head>
  <body>
  <h1>TEI - T. Explosivo Intermitente</h1>
    <p font="Arial">
      O TEI está no DSM5 no capítulo dos Transtornos Disruptivos, do Controle de Impulsos e da Conduta e na CID11 no T. do Controle dos Impulsos. Isso significa que é baseado na IMPULSIVIDADE.
A característica central do TEI são explosões episódicas, em geral como resposta a uma provocação mínima. As explosões duram menos de 30 minutos.</p>
A.	Manifesto por um dos seguintes aspectos: 

1. Agressão verbal ou física dirigida a propriedade, animais ou outros indivíduos, ocorrendo em uma média de duas vezes por semana, durante um período de três meses. A agressão física não resulta em danos ou destruição de propriedade nem em lesões físicas em animais ou em outros indivíduos. 

Ou

2. Três explosões comportamentais envolvendo danos ou destruição de propriedade e/ou agressão física envolvendo lesões físicas contra animais ou outros indivíduos ocorrendo dentro de um período de 12 meses.
B. A magnitude da agressividade expressa durante as explosões recorrentes é grosseiramente desproporcional em relação à provocação ou “gatilhos”.
C. As explosões de agressividade recorrentes não são premeditadas e não têm por finalidade atingir algum objetivo tangível (dinheiro, poder, intimidação). 
D. As explosões de agressividade recorrentes causam sofrimento acentuado ao indivíduo ou prejuízo no funcionamento profissional ou interpessoal ou estão associadas a consequências financeiras ou legais. 
E. A idade cronológica é de pelo menos 6 anos (ou nível de desenvolvimento equivalente). 
F. As explosões de agressividade recorrentes não são mais bem explicadas por outro T. Mental / outra condição médica.

No caso de crianças com idade entre 6 e 18 anos, o comportamento agressivo que ocorre como parte do T. Adaptação não deve ser considerado para esse diagnóstico.
Este diagnóstico pode coexistir com TDAH / TC / TOD / TEA

nos casos em que as explosões de agressividade excederem as observadas nesses transtornos e justificarem atenção clínica independente.
  </body>
</html>