<!DOCTYP html>
<html>
  <head>
    <title>TEPT</title>
    <meta charset="utf-8">
  </head>
  <body>
  <h1>TEPT - T. Estresse Pós-Traumático</h1>
Está no capítulo dos T. Relacionados a Trauma e a Estressores no DSM5 e a Estressores na CID11. A característica essencial é o desenvolvimento de sintomas após a exposição a um ou mais eventos traumáticos. 
A apresentação clínica varia muito: 1) revivência do medo 2) humor anedônico ou disfórico e cognições negativas 3) excitação e sintomas  externalizantes 4) sintomas dissociativos.
Crianças de 6 anos ou menos
        A. Pode ocorrer quando: 
1. Vivenciar diretamente o evento traumático. 
2. Testemunhar pessoalmente o evento ocorrido com outras pessoas, especialmemte cuidadores primários. Não inclui eventos vistos apenas em mídia.
3. Saber que o evento traumático ocorreu com pai/mãe ou cuidador. 
B. Presença de um (ou mais) dos seguintes sintomas: 
1. Lembranças intrusivas angustiantes, recorrentes e involuntárias do evento traumático. (Podem ser expressas como reencenação em brincadeiras).
2. Sonhos angustiantes recorrentes nos quais o conteúdo e/ou a emoção do sonho estão relacionados ao evento traumático. 
3. Reações dissociativas (flashbacks). Essa reencenação específica do trauma pode ocorrer na brincadeira. 
4. Sofrimento psicológico intenso ou prolongado ante a exposição a sinais internos ou externos que simbolizem ou se assemelhem a algum aspecto do evento traumático. 
5. Reações fisiológicas intensas a lembranças do evento traumático.
B.	Um (ou mais) dos seguintes sintomas, representando evitação persistente de estímulos associados ao evento traumático
* D. Alterações na excitação e na reatividade associadas ao evento traumático, presente por dois (ou mais) dos seguintes aspectos: 
1. Comportamento irritadiço ou surtos de raiva (com pouca ou nenhuma provocação) geralmente manifestados como agressão verbal ou física em relação a pessoas ou objetos (incluindo acessos de raiva extremos). 
2. Hipervigilância. 
3. Respostas de sobressalto exageradas. 
4. Problemas de concentração. 
5. Perturbação do sono. 
E. A perturbação dura mais de um mês. 
F. A perturbação causa sofrimento clinicamente significativo ou prejuízo nas relações com pais, irmãos, amigos ou outros cuidadores ou no comportamento na escola. 
G. A perturbação não se deve aos efeitos fisiológicos de uma substância ou a outra condição médica.
C.	Um (ou mais) dos seguintes sintomas:
Evitação persistente de estímulos 
1. Evitação em atividades, lugares ou lembranças físicas que recordem o evento traumático. 
2. Evitação de pessoas, conversas ou situações interpessoais que recordem o evento traumático.
Alterações negativas em cognições 
3. Frequência substancialmente maior de estados emocionais negativos (medo, culpa, tristeza, vergonha, confusão). 
4. Interesse / participação muito diminuído em atividades significativas e redução do brincar. 
5. Comportamento socialmente retraído. 
6. Redução persistente na expressão de emoções positivas. 
Havendo presença de sintomas dissociativos
1. Despersonalização: Experiências persistentes ou recorrentes de sentir-se separado e como se fosse um observador externo dos processos mentais ou do corpo (sensação de estar em um sonho; sensação de irrealidade de si mesmo ou do corpo ou como se estivesse em câmera lenta). 
2. Desrealização: Experiências persistentes ou recorrentes de irrealidade do ambiente ao redor.
   </body>
</html>