TOD   T. Opositor Desafiador

O TOD está no DSM5 e na CID11 no capítulo dos Transtornos Disruptivos, do Controle de Impulsos e da Conduta. Isso significa que é baseado na IMPULSIVIDADE

A característica essencial do TOD é um padrão frequente e persistente
de humor raivoso/irritável, de comportamento questionador/desafiante ou de índole vingativa.

É raro indivíduos com TOD apresentarem depressão.
*A. Um padrão de humor raivoso/irritável, de comportamento questionador/desafiante ou índole vingativa com duração de pelo menos seis meses, com pelo menos quatro sintomas presentes na interação com pelo menos um indivíduo que não seja um irmão.

Humor Raivoso/Irritável
1. Com frequência perde a calma.
2. Com frequência é sensível ou facilmente incomodado.
3. Com frequência é raivoso e ressentido.

Comportamento Questionador/Desafiante
4. Frequentemente questiona figuras de autoridade / adultos.
5. Frequentemente desafia acintosamente ou se recusa a obedecer a regras ou pedidos de figuras de autoridade.
6. Frequentemente incomoda deliberadamente outras pessoas.
7. Frequentemente culpa outros por seus erros ou mau comportamento.

Os sintomas do TOD podem se limitar a apenas um ambiente, mais frequentemente em casa. A difusão dos sintomas é um indicador
da gravidade podendo ocorrer em vários ambientes e relacionamentos. 

Como os sintomas são mais evidentes nas interações com adultos ou pares que o indivíduo conhece bem, eles podem não ficar tão evidentes no exame clínico.

  """