<!DOCTYP html>
<html>
  <head>
    <title>TPA</title>
    <meta charset="utf-8">
  </head>
  <body>
  <h1>TPA - T. Personalidade Antissocial</h1>
O ponto central é o padrão de desrespeito e violação dos direitos dos outros, que surge na infância ou no início da adolescência e continua na vida adulta. 
Nomes antigos: Psicopatia, Sociopatia ou T. Personalidade dissocial.
Faz parte do Cluster B dos TP: 
A.	Um padrão difuso de desconsideração e violação dos direitos das outras pessoas que ocorre desde os 15 anos de idade, por três (ou mais) dos seguintes sintomas: 
1. Fracasso em ajustar-se às normas sociais relativas a comportamentos legais, conforme indicado pela repetição de atos que constituem motivos de detenção. 
2. Tendência à falsidade, conforme indicado por mentiras repetidas, uso de nomes falsos ou de trapaça para ganho ou prazer pessoal. 
3. Impulsividade ou fracasso em fazer planos para o futuro. 
4. Irritabilidade e agressividade, conforme indicado por repetidas lutas corporais ou agressões físicas. 
5. Descaso pela segurança de si ou de outros. 
6. Irresponsabilidade reiterada, conforme indicado por falha repetida em manter uma conduta consistente no trabalho ou honrar obrigações financeiras. 
7. Ausência de remorso, conforme indicado pela indiferença ou racionalização em relação a ter ferido, maltratado ou roubado outras pessoas.
B.	B. O indivíduo tem no mínimo 18 anos de idade. 
C.	C. Há evidências de transtorno da conduta com surgimento anterior aos 15 anos de idade. 
D.	D. A ocorrência de comportamento antissocial não se dá só no curso de Esquizofrenia ou T. Bipolar.

  </body>
</html>