<!DOCTYP html>
<html>
  <head>
    <title>TPB</title>
    <meta charset="utf-8">
  </head>
  <body>
  <h1>TPB - Transtorno de Personalidade Borderline</h1>
As características dos Transtornos da Personalidade costumam se tornar reconhecíveis durante a adolescência ou no começo da vida adulta caracterizados por um padrão difuso de instabilidade das relações interpessoais, da autoimagem e dos afetos e de impulsividade acentuada e está presente em cinco (ou mais) dos seguintes itens:

* Esforços desesperados para evitar abandono real ou imaginado;  
* Um padrão de relacionamentos interpessoais instáveis e intensos caracterizado pela alternância de extremos de idealização e desvalorização. 
* Perturbação da identidade: instabilidade acentuada e persistente da autoimagem / da percepção de si mesmo; 
* Impulsividade em pelo menos duas áreas potencialmente autodestrutivas (p. ex., gastos, sexo, abuso de substância, direção irresponsável, compulsão alimentar);
Recorrência de comportamento, gestos ou ameaças suicidas ou de comportamento auto mutilante;
* Instabilidade afetiva por uma acentuada reatividade de humor (disforia episódica, irritabilidade ou ansiedade intensa com duração geralmente de poucas horas e apenas raramente de mais de alguns dias). 
* Sentimentos crônicos de vazio;
* Raiva intensa e inapropriada ou dificuldade em controlá-la física / verbalmente e recorrente; 
* Ideação paranoide transitória associada a estresse ou sintomas dissociativos intensos.
  </body>
</html>