<!DOCTYP html>
<html>
  <head>
    <title>Tratamento</title>
    <meta charset="utf-8">
  </head>
  <body>
  <h1>Tratamento - Visão Global</h1>

<p>O tema é muito complexo / difícil.</p> 
    <p>Os tratamentos para agressividade em crianças e adolescentes são inespecíficos, mas há o tripé clássico: Anti Psicótico (mais / menos sedativos) + Anti Epilético + Psicoestimulante.</p>
    <p></p>
    O tripé clássico é o mais utilizado, mas há outros tripés que
“Quase sempre”
1) o tratamento da comorbidade é o caminho para algum êxito. P. ex: Numa pessoa com TEA grau 3, valorizar DI é essencial.
2) a lógica do tratamento exitoso depende da fenomenologia presente. 
P. ex: Numa pessoa com um transtorno causado pela impulsividade é importante uso de medicações que melhorem o auto-controle.
3) pacientes com agressividade contínua / sem gatilhos terão a necessidade de alguma medicação “sedativa”
-	Medicamentos off-label são usados com bastante frequência;
Carbolitium
Anti Depressivos
Psico estimulantes
Amantadina
N-Acetil Cisteína
Alopurinol
Naltrexona é uma opção nos casos de auto-agressividade sem “gatilho”.
Quando a agressividade se mostrar refratária às medicações 
há duas opções:
1) ECT
2) Neurocirurgia

Para informações recentes, a pesquisa em sites é o recomendado
* www.openevidence.com responde perguntas e também fornece os artigos que fundamentam as respostas,

Sobre medicação:
* www.drugs.com
* https://reference.medscape.com
  </body>
</html>